In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seispy

In [8]:
whos

Variable   Type       Data/Info
-------------------------------
db         Catalog    <seispy.pandas.catalog.Ca<...>og object at 0x11f953fd0>
np         module     <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
pd         module     <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
plt        module     <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
seispy     module     <module 'seispy' from '/U<...>thon/seispy/__init__.py'>

In [5]:
db = seispy.pandas.catalog.Catalog(
    './examples/read_NCEDC/ncsn.hypo00',
    fmt='special',b
    schema='hypoinverse2000'
)

In [13]:
db['arrival']['evid2'] = db['arrival'].year.astype(str)+db['arrival'].month.astype(str)+db['arrival'].day.astype(str)+db['arrival'].hour.astype(str)

In [ ]:
import glob
files = glob.glob('/Users/fangtbkak/study/VoroTomo_src/Japan_tomo/mkmodels/originaldata/d*.txt')
files = np.sort(files)
db = seispy.pandas.catalog.Catalog(
    files[0],
    fmt='special', 
    schema='japan_jma'
)
# nfile = len(files)
# idx = 0
# for ifile in files[1:]:
#     idx +=1
#     print(idx,'of all',nfile,ifile,end='\r')
#     db.append(
#         ifile,
#         fmt='special',
#         schema='japan_jma'
#     )
db.save('./japan97to18_full.h5')

In [ ]:
db['arrival']

In [8]:
origin = db['arrival']
origin.head()

,recordtype,stacode,stationno,blank,seismotype,date,phasename1,arrhour1,arrmin1,arrsec1,...,unitinit,duration,datayear,datamonth,dataflags1,dataflags2,dataflags3,dataflags4,dataweight,evid
0,_,N.CKRH,2778,-,s,1,P,0,0,3060.0,...,-,-99,14,10,M,M,-,-,1.0,2014101001886
1,_,MIYOSH,5673,-,N,1,P,0,0,3101.0,...,-,-99,14,10,M,-,-,-,1.0,2014101001886
2,_,N.TY2H,2632,-,h,1,P,0,0,3069.0,...,-,-99,14,10,M,M,-,-,1.0,2014101001886
3,_,N.IWKH,2726,-,s,1,P,0,0,3110.0,...,-,-99,14,10,M,-,-,-,1.0,2014101001886
4,_,N.KMSH,2811,-,h,1,P,0,0,3138.0,...,-,-99,14,10,M,-,-,-,1.0,2014101001886

In [4]:
db.save('./Japan97to18_full.h5')

In [3]:
files[0]

'/Users/fangtbkak/study/VoroTomo_src/Japan_tomo/mkmodels/originaldata/d201410a'